.jumbotron {
    background: rgb(61, 33, 124);
    height: 400px;
}

.bg-primary {
    transition: all 1s ease;
}

#movies{
    overflow: hidden;
    background-color:#000;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

#img {
    vertical-align: super;
}

#img:hover {
    filter: alpha(opacity=50);
    opacity: .50;
}

#press {
    position: relative;
    display: unset;
    opacity: 0;
    color:#fff;
    top: -150px;
    font-weight: bold;
}

#press:hover {
    opacity: 1;
    transition: opacity .8s;
    filter: alpha(opacity=90);
    opacity: .90;
    color: #fff;  
}

#img:hover ~ #press {
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .50;
}

.footer{
    margin: 0;
    padding: 0;
}

